<div class="option">
    <div class="sub-option">
        <span class="material-icons">
            person
        </span>
        <div>
            <button (click)="changeChild(1)">Practice</button>
            <p>Improve your typing skills on your own
            </p>
        </div>
    </div>
    <div class="sub-option">
        <span class="material-icons s-100">
            group
        </span>
        <div>
            <button (click)="changeChild(2)">Race</button>
            <p>Invite people to a private race with chat
            </p>
        </div>
    </div>
</div>