<div class="border-grey highscore">
    <p>Lastest High Scores</p>
    <table style="width: 100%;">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Time</th>
              <th scope="col">Point</th>
              <th scope="col">Wpm</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let score of listHighScore; index as i">
              <th scope="row">{{i}}</th>
              <td>{{score.date | date}}</td>
              <td>{{score.wpm}}</td>
              <td>{{score.point}}</td>
            </tr>
            
          </tbody>
    </table>
</div>