<div  class="option" class="border-grey">
    <div class="sub-option">
        <button class="btn-option">Public room</button>
        <p>Visit a random room</p>
    </div>
    <div class="sub-option">
        <button class="btn-option">New room</button>
        <p> Create a public new room</p>
    </div>
    <div class="sub-option">
        <p class="btn-option m-0">Join with friend</p>
        <input class="from-control py-1 px-2 mr-2" placeholder="Enter a code to join ...">
        <button class="btn-option">&#x261B; Let go!!  &#x2607;</button>
    </div>
    <button (click)="optionSvc.OptionValue = 0">&#x2607; trở về (leave pratice)</button>
</div>