<div class="top-bar">
    <h2 class="top-bar-brand">Typeracer</h2>
    <div class="top-left-bar">
        <button class="account">
            <span class="material-icons">
                account_circle
            </span>
            <span *ngIf="isLoggedIn">
              {{ userInfo.displayName || 'username' }}
            </span>
        </button>
        <div *ngIf="!isLoggedIn">
          <button class="btn btn-login" (click)="LoginFB()">
              <p><i style="font-size:20px" class="fa">&#xf09a;</i>acebook</p>
          </button>
          <button class="btn btn-login" (click)="LoginGG()">
              <p><i style="font-size:20px" class="fa">&#xf1a0;</i>oogle</p>
          </button>
        </div>
        <button *ngIf="isLoggedIn" class="btn btn-login" (click)="LogOut()">
          <p><span style="font-size:20px">Đ</span>ăng xuất</p>
      </button>
    </div>
</div>
