<div class="border-grey">
  <div *ngFor="let player of listFriends">
    <app-progess-bar [name]="player.name" [percent]="player.score" [color]="color" ></app-progess-bar>
  </div>
  <!-- <app-progess-bar [name]="name" [percent]="percentRight" [color]="color" ></app-progess-bar> -->
  <div>
    <button type="button"
      class="btn btn-primary"
      style="background-color: darkblue;"
      (click)="ReadyClick()"> Sẵn sàng
    </button>

    <div class="paragraph" *ngIf="typeIndex < paraLength">
      <span>{{ stringRight }}</span>
      <span [ngStyle]="{ color: color }">{{ stringNow }}</span>
      <span>{{ stringType }}</span>
    </div>

    <input
      [disabled]="!canRun"
      class="input"
      autofocus
      [ngStyle]="{ backgroundColor: backgroundColor }"
      (keyup)="typerace($event)"
    />
  </div>
  <div>
    <button class="btn-back" (click)="optionSvc.OptionValue = 0">
      &#x2607; go back (leave pratice)
    </button>
  </div>
</div>
