.progress {
  height: 150px;
}
.progress-percent {
  display: inline-block;
  //width: 535px;
  border-bottom: 2px solid;
}
.material-icons {
  float: none !important;
}
.name-player {
  display: inline-block;
  margin-right: 10px;
}
